# Veja https://help.github.com/articles/ignoring-files/ para mais informações sobre como ignorar arquivos.

# Dependências
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testes
/coverage

# Next.js
/.next/
/out/

# Build de Produção (Next.js usa .next, mas /build é comum em outros projetos)
# /build

# Arquivos de Log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Relatórios de diagnóstico (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dados de Runtime
pids
*.pid
*.seed
*.pid.lock

# Arquivos de ambiente local
.env
.env.local
.env.*.local
!.env.example
!.env.development.local.example

# Cache do TypeScript
*.tsbuildinfo

# Cache do ESLint (Opcional)
.eslintcache

# Cache do Prettier (Opcional)
.prettiercache

# Diretórios e arquivos de IDE/Editor
.idea/
.vscode/*
!.vscode/settings.json # Permite que configurações específicas do VSCode do projeto sejam commitadas
!.vscode/extensions.json
*.sublime-workspace

# Arquivos gerados pelo OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db

# Vercel
.vercel/

# Arquivos personalizados para ignorar
/nome.md

# IDX (se aplicável)
.idx/
